<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>User <%= @user.email %> was signed up</h1>
<p>
  Congratulations!
</p>
<p>Have a nice day!</p>
</body>
</html>