<h1>Users bank account</h1>
<p>
  <%= @change_currency.change_currency('USD').to_s %>
</p>
<p>
  <%= @change_currency.change_currency('EUR').to_s %>
</p>
<p>
  <%= @change_currency.change_currency('RUB').to_s %>
</p>
<p>
  <%= @change_currency.change_currency('BYN').to_s %>
</p>